.projects {
    background-color: #F8F9FA;
}

.nav.nav-pills {
    justify-content: center;
}

.text-success {
    color: #20c997 !important;
}

.text-success:hover {
    color: #1baa80 !important;
}

.btn-success {
    background-color: #20c997;
    border-color: #20c997;
}

.btn-success:hover {
    background-color: #1baa80 !important;
    border-color: #1baa80;
}

span.border-bottom.border-2.d-block.mx-auto {
    border-color: #20c997!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #20c997;
}

.nav-pills .nav-link {
    color: #1baa80;
}